<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackathon.london.tearfunddisasterresponse" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- for phone number/device ID -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".photobyintent.PhotoIntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".questions.QuestionsActivity" />
        <activity
            android:name=".FinalPageActivity"
            android:label="@string/title_activity_final_page"

            android:theme="@style/AppTheme.NoActionBar" >
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="hackathon.london.tearfunddisasterresponse.questions.QuestionsActivity" />-->
        </activity>
    </application>

</manifest>
